{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <header>
        <a style="color: #fff;" href="{% url 'home' %}"><h1>Task Manager</h1></a>
        <nav>
            {% if user.is_authenticated %}
                <div class="user-info">
                    <img src="{{ user.profile.image.url }}" alt="Avatar" class="avatar">
                    <span>{{ user.username }}</span>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>&copy; 2025 Task Manager</footer>
</body>
</html>
